<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IwachuCRA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <IwachuCRA.Properties.Settings>
            <setting name="system_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="system_db" serializeAs="String">
                <value />
            </setting>
            <setting name="db_user" serializeAs="String">
                <value />
            </setting>
            <setting name="db_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="active" serializeAs="String">
                <value>No</value>
            </setting>
        </IwachuCRA.Properties.Settings>
    </userSettings>
</configuration>